[*.cs]

# CS0626: Method, operator, or accessor is marked external and has no attributes on it
dotnet_diagnostic.CS0626.severity = none

# CS0108: Member hides inherited member; missing new keyword
dotnet_diagnostic.CS0108.severity = none
